@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");

body {
  margin: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

iframe {
  width: 100%;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

h1 {
  font-family: "Playfair Display";
  font-size: 3rem;
  margin-top: 3em;
  margin-bottom: 0.4em;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

h1,
p {
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
